$color-orange-main:#CD6326;
$color-orange-light:#E39128;
$color-orange-dark:#8F5613;
$color-font-light:#F7F7F7;
$color-font-grey:#666666;
$color-font-dark:#333333;

$color-bg-header_and_survival: #02160b;
$color-bg-latest_articles_and_get_notified: #cccccc;
$color-footer:#181617;