.footer {
    background-image: url("/img/bg_footer.jpg");
    padding: 150px 0 149px 0;
    width: auto;
    height: 360px;
}    
.footer_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: auto;
}

.footer__logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-font-light;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: $color-font-light;
    list-style: none;
    padding: 0 30px;
    cursor: pointer;
    display: inline;
}

.socnetworks__link {
    display: inline;
}