
.latest-articles {
    background-color: $color-bg-latest_articles_and_get_notified;
    
}

h2 {
    text-align: center;
    
}

.latest__text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: $color-font-grey;
    
}