html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', Verdana, sans-serif;
    background: springgreen;
}

h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    color: $color-orange-main;
}

h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    color: $color-font-dark;
    margin: 0;
}

h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;
    color: $color-font-dark;
}

h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: $color-font-light;
}

$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px; 